<div id="timeline-0" style="margin: 40px 10px 10px;"> 
	
	<div class="timeline-wrap">
		
		<div class="timeline-years">
			<!-- BEGIN pm_tl_years -->
			<div class="timeline-year" data-year="{pm_tl_years.COUNT}" data-timestamp="{pm_tl_years.TIMESTAMP}" style="left: 0px;">{pm_tl_years.YEAR}</div>
			<!-- END pm_tl_years -->
		</div>
		
		<div class="timeline-months">
			<!-- BEGIN pm_tl_months -->
			<div class="timeline-month" data-year="{pm_tl_months.YEAR}" data-month="{pm_tl_months.COUNT}" style="left: 0px;">{pm_tl_months.MONTH}</div>
			<!-- END pm_tl_months -->
		</div>
		
		<div class="timeline-articles">
			<!-- BEGIN pm_tl_articles -->
			<div class="timeline-article" data-article-timestamp="{pm_tl_articles.TIMESTAMP}" style="left: 0px;">
				<div class="timeline-article-node"></div>
				<div style="display: none;" class="timeline-article-content">
					<div class="timeline-event-title"><span>{pm_tl_articles.DATE}</span>{pm_tl_articles.TITLE}</div>
					<div class="timeline-article-content-extend" style="display: none;">
						<div class="timeline-event-text">{pm_tl_articles.TEXT}</div>
						<div class="timeline-event-link"><a href="{pm_tl_articles.URL}">{L_readmore_button}</a></div>
					</div>
				</div>
			</div>
			<!-- END pm_tl_articles -->
		</div>
	</div>
	
	
	<!--
		<div class="timeline-events">
		
			<div class="timeline-years timeline-large-scale">
				<div style="left: 0px;" class="timeline-year timeline-dateblock" id="timeline-year-0">2015</div>
				<div style="left: 1177px;" class="timeline-year timeline-dateblock" id="timeline-year-1">2016</div>
			</div>
			
			<div class="timeline-months timeline-small-scale">
				<div style="left: 98.1667px;" class="timeline-month timeline-dateblock" id="timeline-month-1">Feb</div>
				<div style="left: 196.333px;" class="timeline-month timeline-dateblock" id="timeline-month-2">Mar</div>
				<div style="left: 294.5px;" class="timeline-month timeline-dateblock" id="timeline-month-3">Apr</div>
				<div style="left: 392.667px;" class="timeline-month timeline-dateblock" id="timeline-month-4">May</div>
				<div style="left: 490.833px;" class="timeline-month timeline-dateblock" id="timeline-month-5">Jun</div>
				<div style="left: 589px;" class="timeline-month timeline-dateblock" id="timeline-month-6">Jul</div>
				<div style="left: 687.167px;" class="timeline-month timeline-dateblock" id="timeline-month-7">Aug</div>
				<div style="left: 785.333px;" class="timeline-month timeline-dateblock" id="timeline-month-8">Sep</div>
				<div style="left: 883.5px;" class="timeline-month timeline-dateblock" id="timeline-month-9">Oct</div>
				<div style="left: 981.667px;" class="timeline-month timeline-dateblock" id="timeline-month-10">Nov</div>
				<div style="left: 1079.83px;" class="timeline-month timeline-dateblock" id="timeline-month-11">Dec</div>
			</div>
			
			<div style="left: 898.906px; z-index: 0;" class="timeline-event timeline-bottom" id="timeline-event-0">
				<div class="timeline-event-node" id="timeline-event-node-0"></div>
				<div style="display: none;" class="timeline-event-arrow"></div>
				<div style="display: none; margin-left: -20px;" class="timeline-event-contents">
					<div class="timeline-event-title"><span>08.10.2015</span>Neue Funktionen von EQdkp Plus</div>
					<div class="timeline-event-content">Das EQdkp Plus 2.0 stellt wesentliche neue Funktionen zur Verfügung. Dieser Artikel dient dazu, diese Funktionen etwas näher kennenzulernen.
						Artikelsystem
						Anstatt der früheren News und...</div>
					<div class="timeline-event-link"><a href="/eqdkp21/index.php/News/New-features.html?">Weiterlesen</a></div>
				</div>
			</div>
			
			<div style="left: 907.572px; z-index: 1;" class="timeline-event timeline-bottom" id="timeline-event-1">
				<div class="timeline-event-node" id="timeline-event-node-1"></div>
				<div style="display: none;" class="timeline-event-arrow"></div>
				<div style="display: none; width: 234px; margin-left: -20px;" class="timeline-event-contents">
					<div class="timeline-event-title"><span>08.10.2015</span>Willkommen bei EQdkp-Plus</div>
					<div style="display: none;" class="timeline-event-content">Die Installation deines EQdkp-Plus wurde erfolgreich abgeschlossen - du kannst es nun nach deinen Wünschen einrichten.
						
						Hilfestellungen zur Aministration und zur Allgemeinen Benutzung des EQdkps...</div>
					<div style="display: none;" class="timeline-event-link"><a href="/eqdkp21/index.php/News/Welcome.html?">Weiterlesen</a></div>
				</div>
			</div>
			
		</div>
	-->
	
</div>
