<div id="pm_timeline"> 
	<div class="timeline-wrap">
		<div class="timeline-years">
			<!-- BEGIN pm_tl_years -->
			<div class="timeline-year" data-year="{pm_tl_years.COUNT}" data-timestamp="{pm_tl_years.TIMESTAMP}" style="left: 0px;">{pm_tl_years.YEAR}</div>
			<!-- END pm_tl_years -->
		</div>
		
		<div class="timeline-months">
			<!-- BEGIN pm_tl_months -->
			<div class="timeline-month" data-year="{pm_tl_months.YEAR}" data-month="{pm_tl_months.COUNT}" style="left: 0px;">{pm_tl_months.MONTH}</div>
			<!-- END pm_tl_months -->
		</div>
		
		<div class="timeline-articles">
			<!-- BEGIN pm_tl_articles -->
			<div class="timeline-article" data-article-timestamp="{pm_tl_articles.TIMESTAMP}" style="left: 0px;">
				<div class="timeline-article-node"></div>
				<div class="timeline-article-tooltip">
					<!-- BEGIN article -->
					<div class="timeline-article-title" data-article-id="{pm_tl_articles.article.ID}"><span>{pm_tl_articles.article.DATE}</span>{pm_tl_articles.article.TITLE}</div>
					<div class="timeline-article-content" data-article-id="{pm_tl_articles.article.ID}"<!-- IF pm_tl_articles.article.IMAGE --> style="min-height: 75px;"<!-- ENDIF -->>
						<div class="timeline-event-text">
							<!-- IF pm_tl_articles.article.IMAGE -->
							<img class="timeline-article-thumbnail" src="{pm_tl_articles.article.IMAGE_URL}" alt=""></img>
							<!-- ENDIF -->
							{pm_tl_articles.article.TEXT}
						</div>
						<div class="timeline-article-link"><a href="{pm_tl_articles.article.URL}">{L_readmore_button}</a></div>
					</div>
					<!-- END article -->
				</div>
			</div>
			<!-- END pm_tl_articles -->
		</div>
	</div>
</div>
